@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #313131;
  font-family: "Libre Franklin", sans-serif;
  height: 200vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}