 /* ---------------------top most  navbar------------------------  */

.maincontainer{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbarcontainer{
  max-width: 1360px;
  margin: auto;
  padding: 5px 10px;
  color: white;
}

.firstnavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstnavbar>div:nth-of-type(2){
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 3px;
}

.bordertype{
  height: 2px;
  width: 10px;
  background-color: orangered;
}

.firstnavbar>div:nth-of-type(3){
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarlogo{
  height: 60px;
  width: 80px;
  cursor: pointer;
}

.linksofcomp>p{
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
}

 /* ---------------------top most navbar------------------------  */


  /* ---------------------top most border of navbar------------------------  */

.bottomborder{
  width: 100%;
  height: 1px;
  background-color: gray;
}


 /* ---------------------top most border of navbar------------------------  */


  /* ---------------------top second navbar------------------------  */

  .secondnavbar{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .secondnavbar>div{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .secondnavbar>div>p{
    cursor: pointer;
  }


  /* ----------------------------bergermenu------------------------------------- */

  #bergmenu{
    display: none;
  }

  .bergmenu>p{
    font-size: 25px;
    cursor: pointer;
  }

  #productsccc{
    display: none;
  }

  @media (max-width: 767px){
    #bergmenu{
      display: block;
      width: 100%;
    }
    #bergmenu>p{
      text-align: end;
    }
    #categoryofproduct{
      display: none;
    }
    #contactbutt{
      display: none;
    }
    .navbarlogo{
      height: 50px;
      width: 70px;
      cursor: pointer;
    }
    #productsccc{
      display: block;
      color: white;
    }
  }



  /* ---------------------top second navbar------------------------  */