.marginfromtop {
  margin-top: 150px;
}

.slick-prev,
.slick-next {
  top: 85px;
  z-index: 1;
}

.my-slider .slick-dots {
  bottom: -40px;
}

.maincontainerofabout {
  max-width: 1360px;
  margin: auto;
  padding: 0px 0px;
}

.aboutharleytext {
  padding: 0px 30px;
}

.aboutharleytext > p {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.heroimagewithriderabout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heroimagewithriderabout > div:nth-of-type(1) {
  grid-column: span 2;
}

.heroimagewithriderabout > div:nth-of-type(1) > img {
  height: 450px;
  width: 100%;
  border-radius: 8px;
}

.heroimagewithriderabout > div:nth-of-type(2) {
  color: white;
}

.heroimagewithriderabout > div:nth-of-type(2) p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.heroimagewithriderabout > div:nth-of-type(3) {
  color: white;
}

.heroimagewithriderabout > div:nth-of-type(3) p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.heroimagewithriderabout > div {
  padding: 20px;
}

@media (max-width: 1300px) {
  .heroimagewithriderabout {
    grid-template-columns: 520px repeat(2, 1fr);
  }
  .heroimagewithriderabout > div:nth-of-type(1) {
    grid-column: span 1;
  }
}

@media (max-width: 1165px) {
  .heroimagewithriderabout {
    grid-template-columns: 450px repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .heroimagewithriderabout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .heroimagewithriderabout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .heroimagewithriderabout > div:nth-of-type(1) {
    grid-column: span 2;
  }
}

@media (max-width: 500px) {
  .heroimagewithriderabout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .heroimagewithriderabout > div:nth-of-type(1) {
    grid-column: span 1;
  }
  .heroimagewithriderabout > div:nth-of-type(1) > img {
    height: 350px;
  }
}

.borderofaboutpage {
  height: 1px;
  margin: auto;
  width: 98%;
  background-color: gray;
  margin-top: 20px;
}

.stayintouchwithwe {
  padding: 50px;
  margin-top: 50px;
  background-color: #3d3d3d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.stayintouchwithwe > div:nth-of-type(1) > img {
  width: 80%;
  height: 400px;
}

.textandeverything > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

@media (max-width: 1050px) {
  .stayintouchwithwe {
    grid-template-columns: repeat(1, 1fr);
  }
  .stayintouchwithwe > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stayintouchwithwe > div:nth-of-type(1) > img {
    width: 60%;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .stayintouchwithwe {
    grid-template-columns: repeat(1, 1fr);
  }
  .stayintouchwithwe > div:nth-of-type(1) > img {
    width: 80%;
    height: 200px;
  }
  .textandeverything > p:nth-of-type(1) {
    font-size: 30px;
    font-weight: 600;
    color: white;
  }
}

.stayintouchwithwe > div {
  padding: 0px 10px;
}

.textandeverything {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  gap: 20px;
}

.textandeverything > p:nth-of-type(3) {
  display: flex;
  align-items: start;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.textandeverything > p:nth-of-type(3) > input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 0px;
  border-radius: 8px;
}
